.env 

graphify-out
node_modules
dist
coverage
logs
*.log
.DS_Store
.agents
.claude
PRODUCT.md
rewrite.js
rewrite2.js

/server/.env
/server/logs/
/server/dist/
/server/coverage/
/admin/node_modules/
/admin/dist/
/admin/logs/
    